nav{
    background-color: #12406f;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 100%;
}
.left-body{
    position: sticky;
    margin-left: 5%;
    width: 20%;
    display: flex;

}
.right-body{
    position: sticky;
    margin: 0;
    width: 80%;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */ 
    display: flex;
    flex-direction: row;
    float: right !important;
    align-items: center;
    justify-content:flex-end;
    margin-right: 10px;
    
}
.rgt-body-item{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    
}
.rgt-body-item a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    gap: 10px;
}
.rgt-body-item img{
    /* margin-left: 5px; */
}
.rgt-body-srch-btn{
    margin-right: 25px;
    cursor: pointer;
}
.src-icn{
    color: white;
    width: inherit;
    height: 2rem;
    
}
.nb-rgt-btn{
        width: 120px;
        border-radius:8px;
        color: #3d6793;
        border: none;
        height: 40px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 650;
        cursor: pointer;
        margin-right: 10px;
}
.Resp-nav-body{
    display: none;
}


.Resp-nav-bodyonClick{
    
    display: flex;
    flex-direction: column;
    background-color: #12406f;
    color: white;
    position: relative;
    top: -1vh;
    height: auto;
    overflow: auto;
    align-items: center;
    transition: 2s ease;
    justify-content: center;
}
.Resp-nav-bodyonClick a{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: left;
    margin: auto;
    margin: 25px;
}
.Resp-nav-bodyonClick a:hover{
    text-shadow: #f6f6f6 1px;

}
.reminder-slot
{
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly  ;
    color: rgb(80, 80, 80);
    margin: auto;
    text-align: left;
}
.rm-slt-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.reminder-slot h1,h2{
    color: #12406f !important;
    text-align: left;
}
.slt-item-icon img{
    width: 36px;
    height: 36px;
    margin-left: 5px;
}
.slt-item-ctnt{
    line-height: normal;
    margin-left: 15px;
}
.rating-section{
    width: 80%;
    background-color: #f6f6f6;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    height: auto;
}
.item-box{
    font-family: Arial, Helvetica, sans-serif;
    color: #12406f;
    margin: 25px 35px 25px 25px;
    width: auto;
    font-size: 18px;
    height: auto;
    padding-left: 15px;
}
.item-box h1{
    font-size: 48px;
    
    margin-top: -10;
}
.item-box h4{
    font-size: 20px;
    margin-top: 0;
}
#fst-box{
    margin-left: 10%;
}
#lst-box{
    margin-right: 10%;
}

.inquiry-section{
    display: flex;
    /* background-color: #f6f6f6; */
    height: 350px;
    width: 100%;
    flex-direction: row;
    /* margin-left: 5%;
    margin-right: 5%; */
}
.lft-sec{
    text-align: left;
    padding-left: 5%;
    width: 50%;
    color: gray;
}

.rgh-sec{
    width: 40%;
    margin-right: 10%;
    overflow: hidden;
}
.inq-form{
    color: gray;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-evenly;
}
.email-box{
    text-align: left;
    padding-left: 15px;
    width: 60%;
    height: 3.5rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: rgba(128, 128, 128, 0.6) 2px 2px 2px 2px;
}
.inq-form button{
    width: 20%;
    height: auto;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #12406f;
    
    font-size: 18px;
}

.footer-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    /* background-color: #092b5a; */
    background-image: linear-gradient(to bottom , #12406f,#12406f);
    color: #fff;
}
.info-itm{
    margin-top: 2%;
   
    font-family:    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    width: 30%;
}
.info-itm p{
    font-size: 16.5px;
}
.scl-md-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.scl-md-icons{
    width: 40px;
    height: 40px;
}
.scl-md-icons1{
    width: 20px;
    height: 20px;
}
.cmp-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}
.info-icon{
    margin-right: 10px;
}
.copyright{
    
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: #063563;
    font-size: large;
    justify-content: center;
}


.course-carousal{
    position: relative;
    overflow: hidden;
    padding: 26px;
}

.Course-container{
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    justify-content: center;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: center;
    transform: translateX(-390px);

}
.Course-container1{
      
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    overflow-x:auto;
    scroll-behavior: smooth;
    align-items: center;
    transform: translateX(-200px);
}



.prev-btn,.nxt-btn
{
    position: absolute;
    border: none;
    width: 50px;
    border-radius: 50%;
    height: auto;
    cursor: pointer;
    background-color: none;
    margin: auto;
    align-items: center;
    
}
.prev-btn{ left:0;margin-left: 3%;}
.nxt-btn{
    right: 0; margin-right: 3%;
}

.cd-container{
    padding-left: 30px;
    margin-top: 10%;
}

.Card-body{
    
    text-align: left;
    color: white;
    min-width: 300px;
    width: 390px;
    height: auto;
    background-color: #12406f;
    border-radius: 25px;
    
}
.cd-bd{
    transform: translateX(1000px);

}
.cd-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
}
.arw-btn{
    
}
.arw-mk{
    margin-bottom: 30%;
    background-color: white;
    color: #063563;
    font-weight: 400;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-left: 55%;
}


.accordian{
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
.acc-bdy,.ans-sec{
    
    letter-spacing: 1.2px;
    width: 60%  ;
    margin: auto;
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
    color: gray;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.acc-cnt{
    color: #063563;

}
.acc-cntoC h5{
    color: gray;
}

.acc-btn{
    float : right;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: #063563;
}
.acc-btnoC button{
    color: #063563;
    font-size: larger;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    background-color: transparent ;
    border: black 1px solid;
    border-radius: 50%;
}
.acc-btn button{
    font-size: larger;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    background-color: transparent ;
    border: none;
}
.ans-sec {
    width: 60%  ;
    margin: auto;
    text-align: left;

}

.main-body{
    padding-bottom: 50px;
}


/* temp */

.slider{
    width: 80%;
    overflow: scroll;
    display: flex;
    scrollbar-width: 0;
    overflow-y: hidden; 
    /* overflow-x: hidden; */
    margin: auto;
    align-items: center;
        
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.slider .product{
    width: 400px;
    transition: 0.5s ease;
}
/* temp */


/*  Crousel  */

.carousel {
    display: flex;
    height: 500px;
    width: 100%;
  }
  
  .carousel_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel_card {
    
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-radius: 20px; */
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
  }
  
  .carousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
  }
  .card{
    display: flex;
    width: 100%;
    justify-content: center;

  }
  .card-left{
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    align-items: center;
    left: 0;
  }
  .card-info{
    width: 50%;
    padding-left: 5%;
    font-size: 20px;
    color: gray;
  }
  .card-right{
    width: 55%;
    float: right;
  }
  .card-right img{
    
    float: right;
    
    width: 100%;
    height: 100%;
  }

  .card_image {
    width: 100%;
    object-fit: cover;
  }

  
  .card_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
  }
  
  .card_title {
    color: white;
    font-size: 30px;
  }
  
  .carousel_arrow_left,
  .carousel_arrow_right {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    /* background-color: gainsboro; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 7px;
    cursor: pointer;
  }
  .OptionIcon{
    visibility: hidden;
  }
  
  .carousel_arrow_left {
    left: 15px;
  }
  
  .carousel_arrow_right {
    right: 15px;
  }
  
  .carousel_pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .pagination_dot {
    height: 10px;
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .pagination_dot:hover {
    transform: scale(1.2);
  }
  
  .pagination_dot-active {
    background-color: steelblue;
  }
  .card-info button{
    width: 40%;
    height: 2.9rem;
    
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #12406f;
  }
  /* @media screen and (min-width:968px) {
    .OptionIcon{
        display: flex;
    }
  } */
  
  

  @media screen and (max-width:968px) {
    body{
        /* background-color: red; */
        margin: 5px 5px 5px ;
    }
    .rm-slt-item{
        display: inline-grid;
        margin: auto;
        margin-top: 5px;
    }
    .reminder-slot h1, h2{
        text-align: center;
    }
    .rating-section, .reminder-slot{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .reminder-slot{
        justify-content: flex-start;
    }
    .rm-slt-item{
        justify-content: flex-start;
    }
    .footer-body{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        
    }
    .info-itm{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .right-body{
        display: none;
    }
    .card-left{
        display: none;
    }
    .OptionIcon{
        position: relative;
        visibility: visible;
        float: right;
        border: none;
        background-color: transparent;
    }
    .card-right{
        width: 100%;
    }
    .lft-sec{
        width: 100%;
        justify-content: center;
    }
    .lft-sec h1{
    
        justify-content: center;
    }
    .rgh-sec{
       display: none;
    }
    .inquiry-section{
       margin: auto;
    }
    .info-icon{
        padding-left: 5%;
    }
    .inq-form button{
        font-size: 12px;
    }
    .prev-btn{
        display: none;
    }
    .nxt-btn{
        display: none;
    }
  }
  @media screen and (max-width:1366px) {
    .inquiry-section{
        display: flex;
        
        margin: auto;
    }
  }
  @media screen and (max-width:450px) {
        .prev-btn{
            font-size: 25px; left:0;margin-left: 0%;}
        .nxt-btn{
            font-size: 25px;
            right: 0; margin-right: 0%;
        }
  }
 