nav{
    background-color: #12406f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 100%;
}
.left-body{
    margin-left: 5%;
    width: 20%;
    display: flex;

}
.right-body{
    margin: 0;
    width: 80%;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */ 
    display: flex;
    flex-direction: row;
    float: right !important;
    align-items: center;
    justify-content:flex-end;
    margin-right: 10px;
    
}
.rgt-body-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    
}
.rgt-body-item a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    gap: 10px;
}
.rgt-body-item img{
    /* margin-left: 5px; */
}
.rgt-body-srch-btn{
    margin-right: 25px;
    cursor: pointer;
}
.src-icn{
    color: white;
    width: inherit;
    height: 2rem;
    
}
.nb-rgt-btn{
        width: 120px;
        border-radius:8px;
        color: #3d6793;
        border: none;
        height: 40px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 650;
        cursor: pointer;
        margin-right: 10px;
}

.reminder-slot
{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly  ;
    color: rgb(80, 80, 80);
    text-align: left;
}
.rm-slt-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.reminder-slot h1,h2{
    color: #12406f !important;
    text-align: left;
}
.slt-item-icon img{
    width: 36px;
    height: 36px;
    margin-left: 5px;
}
.slt-item-ctnt{
    line-height: normal;
    margin-left: 15px;
}
.rating-section{
    margin-top: 20px;
    background-color: #f6f6f6;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    height: 50vh;
}
.item-box{
    font-family: Arial, Helvetica, sans-serif;
    color: #12406f;
    margin: 25px 35px 25px 25px;
    width: auto;
    font-size: 18px;
    padding-left: 15px;
}
.item-box h1{
    font-size: 48px;
    margin-top: -10;
}
.item-box h4{
    font-size: 20px;
    margin-top: 0;
}
#fst-box{
    margin-left: 10%;
}
#lst-box{
    margin-right: 10%;
}

.inquiry-section{
    display: flex;
    /* background-color: #f6f6f6; */
    height: 35vh;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}
.lft-sec{
    text-align: left;
    padding-left: 15px;
    width: 60%;
}

.rgh-sec{
    width: 40%;
    margin-right: 10%;
}
.inq-form{
    color: gray;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-evenly;
}
.email-box{
    text-align: left;
    padding-left: 15px;
    width: 60%;
    height: 3.5rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: rgba(128, 128, 128, 0.6) 2px 2px 2px 2px;
}
.inq-form button{
    width: 20%;
    height: auto;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #12406f;
}